/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

p {
  line-height: 22px;
}

.button {
  background-color: #4daf7c;
  font-size: 15px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
}



/*******************************
              Page
*******************************/

.hero {
  background-color: #dff1e8;
  height: 560px;
}

.hero h1 {
  font-size: 36px;
  font-weight: normal;
}

.hero p {
  width: 400px;
  padding-bottom: 30px;
}

.hero-img {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.company-logo {
  margin: 47px 0;
}

.page {
  margin-top: 100px;
}

.container .column {
  display: flex;
  flex-direction: column;
  margin: auto 15px;
  flex-grow: 1;
  flex-basis: 0;
}


.card {
	background: white;
  margin: 20px;  
  width: 340px;
  height: 386px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}


.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}


.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 95%;
}

.thumbnail {
  background-color: #000;
  text-align:center;
  padding-top: 75px;
  height: 219px;
}

.cta {
  background-image: url("images/cta-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  margin-top: 80px;

}

.cta .container {
  height: 200px;
  color: #7c7c7c;
  font-size: 26px;
}

.cta .column {
  margin-top: 0;
  line-height: 26px;
}


.cta span {
  color: #53aa7d;
}

.footer {
  background-color: #202327;
}

.footer p {
  color: #646464;
  font-size: 11px;
}

.footer .container {
  margin-left: 0;
  width: 980px;
}

.footer .logo{
  width: auto;
  height: 20px;
  margin-top: 11px;
  margin-right: 10px;
}



/*******************************
         Responsive
*******************************/
/* Medium devices (desktops, 1198px and up) */
@media (min-width: 1198px) {
  .container {
    width: 1140px;
  }
}


/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
